@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url("../fonts/OpenSans-Regular.woff2") format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: url("../fonts/OpenSans-Medium.woff2") format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: url("../fonts/OpenSans-SemiBold.woff2") format('woff2');
}
 
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url("../fonts/OpenSans-Bold.woff2") format('woff2');
}
 
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: 100%;
    font-display: swap;
    src: url("../fonts/OpenSans-ExtraBold.woff2") format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url("../fonts/OpenSans-Italic.woff2") format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: url("../fonts/OpenSans-SemiBoldItalic.woff2") format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    font-stretch: 100%;
    font-display: swap;
    src: url("../fonts/OpenSans-ExtraBoldItalic.woff2") format('woff2');
}
  
*,
*::after,
*::before {
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

/*header*/

.page__header {
    display: flex;
    flex-direction: column;
    background-color: #F6F2F2;
    padding-top: 30px;
}

.container {
    width: 100%;
    max-width: 1252px;
    min-width: 350px;    
    margin: 0 auto;
    padding: 0 10px;
}

.header { 
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 90px;           
    background-color: #313030;   
    border: 1px solid #313030;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.header__item {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.header__item:hover {
    background-color:#FF3F40;        
}

.header__link {
    display: flex;  
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0 24px;
    color:#E0E0E0;
}

.active-link {
    background-color: #FF3F40;
}

/*section "page__header"*/

.page__intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 110px;
    padding-top: 90px;
}

.page__intro__content {    
    width: 100%;
    max-width: 618px;
    padding-bottom: 50px;
}

.page__intro__heading {
    font-style: italic;
    font-size: 60px;
    line-height: 72px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0;
}

.page__intro__heading-big {
    letter-spacing: 6px;
}

.page__text {
    max-width: 544px;
    line-height: 28px;
    margin-bottom: 56px;
}

.button {
    display: block;
    width: 227px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration-line: none;
    text-align: center;
    color: #FFFFFF;
    background-color:#FF2D2D; 
    padding: 14px;   
    cursor: pointer;
    border-radius: 6px;    
}

.button:hover {
    transition: all 0.2s;
    transform: scale(1.1);
}

.page__intro__video {
    width: 100%;
    max-width: 551px;
    margin-top: 10px;
    object-fit: cover;
    background: #000000;
    mix-blend-mode: normal;
    box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
}

/*section "page__services"*/

.page__services {
    display: flex;
    padding-top: 90px;
    padding-bottom: 40px;
    border-bottom: 2px solid #ECECEC;
}

.page__content {
    width: 100%;
    max-width: 618px;
}

.page__heading {
    margin: 0;
    font-size: 42px;
    line-height: 55px;    
    text-transform: uppercase;
    letter-spacing: 0.42px;
}

.learn {
    color: #FF2D2D;    
    background-color: #FFFFFF;
    border: 2px solid #FF0000;
}

.page__services__info {
    display: flex;
    flex-wrap: wrap;       
}

.service {
    width: 100%;
    max-width: 300px;
    padding: 10px;
}

.service__heading {
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.28px;
    margin: 0;
    padding-bottom: 10px;
}

.service__heading::before {
    display: block;
    margin-bottom: 22px;
    width: 40px;
    height: 40px;
}

.service__heading_manage::before {
    content: url(../img/disk.svg);
}

.service__heading_ui::before {
    content: url(../img/pen.svg);
}

.service__heading_logo::before {
    content: url(../img/diamond.svg);
}

.service__heading_anim::before {
    content: url(../img/car.svg);
}

.service__text {
    line-height: 28px;
    margin: 0;
    padding-bottom: 20px;
}

/*section "page__products"*/

.page__products {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.heading-products {
    letter-spacing: 0.38px;
}

.text-products {
    margin-bottom: 30px;
}

.content {
    position: relative;
    margin-bottom: 70px;
}

.content::after {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 134px;
    content: '';
    border-bottom: 2px solid #FF2D2D;
    left: 50%;
    transform: translate(-50%);
}

.filters {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 0;
}

.filters__item {
    list-style-type: none;
    padding: 20px;
}

.filters__link {
    font-style: italic;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

.filters__link:hover {
    color:  #FF2D2D;
}

.filters__link_activ {
    color: #FF2D2D;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products__foto {
    width: 302px;
    height: 294px;
    object-fit: cover;
    padding: 8px 10px 8px 10px;
}

.products__foto:hover {
    cursor: pointer;
    transition: all 0.3s;
    transform: scale(1.1);
}

/*section "page__team*/

.page__team {
    padding-bottom: 100px;
}

.heading-team {
    letter-spacing: 0.38px;
}

.text-team {
    width: 100%;
    max-width: 479px;
    margin-bottom: 36px;
}

.content_team {
    width: 100%;
    margin-bottom: 106px;
}

.content_team::after {
    left: 0;
    transform: translate(0);
}

.team {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
}

.team__selected-photo {
    flex-shrink: 0;
    width: 100%;
    max-width: 322px;
    height: 462px;
    margin-right: 50px;
    object-fit: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: start;
    cursor: pointer;
}

.teams {
    display: flex;
    flex-direction: column;
}

@supports (display: grid) and (display: contents) {
    .team {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }

    .teams {
        display: contents;
    }
}

.content-teams {
    position: relative;
    align-self: start;
    max-width: 662px;
    padding-bottom: 40px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.heading-teams {
    font-size: 30px;
    font-weight: 600;
}

.text-teams {
    width: 100%;
    max-width: 662px;
    margin-bottom: 36px;
}

.team__selected-link {
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.9px;
    color: #000000;
    text-decoration: none;
    padding: 10px 38px 10px 0;
}

.team__selected-link:hover {
    text-decoration: underline;
}

.members {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.member {
    display: flex;
    position: relative;
    margin-top: 18px;
    cursor: pointer;
}

.member:not(:last-child) {
    margin-right: 18px;
}

.member__name {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.17px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 38px; 
    bottom: 0;
    margin: 0;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);
}

.member:hover > .member__name {
    visibility: visible;
    cursor: pointer;
}

.member__photo {
    width: 198px;
    height: 218px;
    object-fit: cover;
}

/*section "page__subscribe"*/

.page__subscribe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #2D2D2D;
}

.subscribe {
    padding-top: 120px;
}

.heading-subscribe {
    letter-spacing: 1px;
    text-transform: none;
    color: #FFFFFF;
}

.text-subscribe {
    max-width: 100%;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.forma {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    padding-bottom: 130px;
}

.forma__input {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    min-height: 82px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 6px;
    color: #000000;
    background-color: #FFFFFF;
    margin: 20px;
    padding: 0 38px;
}

.forma__input::placeholder {
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2C2C2C;
}

.forma__button {
    width: 218px;
    min-height: 82px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    border: none;
    padding: 0;
}

/*section "page__touch"*/

.page__touch {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 100px;
    margin: auto;
}

.content_touch {
    width: 100%;
    max-width: 1252px;
    padding: 0 20px;
    margin: 0 auto 70px;
}

.content_touch::after {
    left: 20px;
    transform: translate(0);
}

.heading-touch {
    letter-spacing: 0.38px;
}

.text-touch {
    max-width: 752px;
}

.inform {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  
  .inform::before {
    content: '';
    flex-grow: 1;
}

.inform::after {
    content: '';
    flex-grow: 1;
    background-color: #2D2D2D;
  }

.message {
    max-width: 834px;
    padding: 0 20px;
}

.message__input {
    width: 100%;
    max-width: 340px;
    min-height: 70px;
    margin-right: 52px;
    font-family: 'Open Sans', sans-serif;
    color:  #000000;
    background-color: #E0E0E0;
    margin-bottom: 50px;
    padding: 0 50px;
    border: none;
    border-radius: 6px;
}

.message__input::placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.input-type {
    font-family: 'Open Sans', sans-serif;
    resize: none;
    max-width: 734px;
    min-height: 252px;
    padding-top: 32px;
    padding-bottom: 20px;
    margin-right: 0;
}

.message__button {
    width: 100%;
    max-width: 732px;
    min-height: 75px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    border: none;
    background-color: #FF3B3B;
}

.contact {
    background-color: #2D2D2D;
    padding: 141px 30px 118px 81px;
}

.contact__heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.contact__text {
    font-style: normal;
    line-height: 28px;
    width: 100%;
    max-width: 315px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

/*footer*/

.page__footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #2D2D2D;
}

.footer {
    display: flex;
    min-height: 114px;
    justify-content: space-between;
    align-items: center;
}

.text-footer {
    line-height: 26px;
    margin: 20px;
    color: #B8B8B8;
}

.page__icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.icon {
    display: block;
    width: 34px;
    height: 34px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin: 10px;
    padding: 6px;
    border: none;
    cursor: pointer;
}

.icon:hover {
    border-radius: 6px;
    transition: all 0.1s;
    transform: scale(1.2);
}


/*media*/
@media (max-width: 466px) {
    .header__menu {
        justify-content: center;
    }

    .team__link {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer {
        flex-direction: column;
    }

    .page__icon {
        margin-bottom: 30px;
    }
}

@media (max-width: 615px) {
    .page__intro__content {
        text-align: center;
    }

    .page__intro {
       justify-content: center;
    }

    .page__intro__heading {
        font-size: 50px;
    }

    .page__intro__heading-big {
        letter-spacing: normal;
        word-wrap: break-word;
    }

    .button {
        margin: 0 auto;
    }

   .page__text {
        max-width: none;
    }

    .page__content {
        text-align: center;
    }

    .page__services__info {
        justify-content: center;
    }

    .service {
        max-width: 250px;
    }

    .filters {
        justify-content: center;
    }

    .products {
        justify-content: center;
    }

    .content {
        text-align: center;
    }
   
    .content_team::after {
        left: 50%;
        transform: translate(-50%); 
    }

    .team__selected-photo {
        max-width: none;
        margin: 0;
    }

    .content-teams {
        text-align: center;
    }

    .members {
        justify-content: center;
    }

    .member {
        margin-right: 18px;
    }

    .content_touch::after {
        left: 50%;
        transform: translate(-50%);
    }

    .message__input {
        margin-right: 0;
        max-width: none;
    }
}

@media (max-width: 1219px) {
    .page__services {
        flex-direction: column;
    }

    .page__content {
        padding-bottom: 50px;
    }

    .team {
        display: flex;
    }

    .page__touch {
        padding-bottom: 0;
    }

    .inform {
        flex-direction: column;
        width: 100%;
    }

    .inform::after,
    .inform::before {
        display: none;
    }

    .message {
        padding-bottom: 20px;
    }
    
    .contact {
        width: 100%;
    }
}
