@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url("../fonts/OpenSans-Regular.woff2") format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: url("../fonts/OpenSans-Medium.woff2") format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: url("../fonts/OpenSans-SemiBold.woff2") format('woff2');
}
 
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url("../fonts/OpenSans-Bold.woff2") format('woff2');
}
 
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: 100%;
    font-display: swap;
    src: url("../fonts/OpenSans-ExtraBold.woff2") format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url("../fonts/OpenSans-Italic.woff2") format('woff2');
}
  
*,
*::after,
*::before {
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/*header*/

.page__header {
    display: flex;
    flex-direction: column;
    background-color: #F6F2F2;
    padding-top: 30px;
}

.container {
    width: 100%;
    max-width: 1252px;
    min-width: 350px;    
    margin: 0 auto;
    padding: 0 10px;
}

.header { 
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 90px;           
    background-color: #000000;   
    opacity: 0.8;
    border: 1px solid #000000;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.header__item {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.header__item:hover {
    background-color:#FF3F40;        
}

.header__link {
    display: flex;  
    align-items: center;
    margin: 0;
    padding: 0 24px;
    color:#E0E0E0;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.active-link {
    background-color: #FF3F40;
}

/*section 1*/

.page__intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 110px;
    padding-top: 90px;
}

.page__intro__content {    
    width: 100%;
    max-width: 618px;
    padding-bottom: 50px;
}

.page__intro__heading {
    margin: 0;
    font-size: 60px;
    line-height: 72px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.page__intro__heading-big {
    letter-spacing: 6px;
}

.page__text {
    max-width: 544px;
    line-height: 28px;
    margin-bottom: 56px;
}

.button {
    display: block;
    width: 227px;
    color: #FFFFFF;
    background-color:#FF2D2D; 
    font-size: 18px;
    text-decoration-line: none;
    text-align: center;
    padding: 14px;   
    cursor: pointer;
    border-radius: 6px;    
}

.button:hover {
    transition: all 0.2s;
    transform: scale(1.1);
}

.page__intro__video {
    width: 100%;
    max-width: 551px;
    margin-top: 10px;
    object-fit: cover;
    background: #000000;
    mix-blend-mode: normal;
    box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
}

/*section 2*/

.page__services {
    display: flex;
    padding-top: 90px;
    padding-bottom: 40px;
    border-bottom: 2px solid #ECECEC;
}

.page__content {
    width: 100%;
    max-width: 618px;
}

.page__heading {
    margin: 0;
    font-size: 42px;
    line-height: 55px;    
    text-transform: uppercase;
    letter-spacing: 0.42px;
}

.learn {
    color: #FF2D2D;    
    background-color: #FFFFFF;
    border: 2px solid #FF0000;
}

.page__services__info {
    display: flex;
    flex-wrap: wrap;       
}

.service {
    width: 100%;
    max-width: 300px;
    padding: 10px;
}

.service__heading {
    font-size: 24px;
    letter-spacing: 0.27px;
    margin: 0;
    padding-bottom: 10px;
}

.service__heading::before {
    display: block;
    margin-bottom: 22px;
    width: 40px;
    height: 40px;
}

.service__heading_manage::before {
    content: url(../img/disk.svg);
}

.service__heading_ui::before {
    content: url(../img/pen.svg);
}

.service__heading_logo::before {
    content: url(../img/diamond.svg);
}

.service__heading_anim::before {
    content: url(../img/car.svg);
}

.service__text {
    line-height: 28px;
    margin: 0;
    padding-bottom: 20px;
}

/*section 3*/

.page__products {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.heading-products {
    letter-spacing: 0.38px;
}

.text-products {
    margin-bottom: 30px;
}

.content {
    position: relative;
    margin-bottom: 70px;
}

.content::after {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 134px;
    content: '';
    border-bottom: 1px solid #FF2D2D;
    left: 50%;
    transform: translateX(-50%);
}

.filters {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 0;
}

.filters__item {
    list-style-type: none;
    padding: 20px;
}

.filters__link {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.22px;
    text-decoration: none;
    text-transform: uppercase;
}

.filters__link:hover {
    color:  #FF2D2D;
}

.filters__link_activ {
    color: #FF2D2D;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products__foto {
    width: 302px;
    height: 294px;
    object-fit: cover;
    padding: 8px 10px 8px 10px;
}

.products__foto:hover {
    cursor: pointer;
    transition: all 0.3s;
    transform: scale(1.1);
}

/*section 4*/

.page__team {
    padding-bottom: 100px;
}

.heading-team {
    letter-spacing: 0.38px;
}

.text-team {
    width: 100%;
    max-width: 479px;
    margin-bottom: 36px;
}

.content_team {
    width: 100%;
    margin-bottom: 106px;
}

.content_team::after {
    left: 0;
    transform: translate(0);
}

.team {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
}

.team__selected-photo {
    flex-shrink: 0;
    width: 100%;
    max-width: 322px;
    height: 462px;
    margin-right: 50px;
    object-fit: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: start;
}

.teams {
    display: flex;
    flex-direction: column;
}

@supports (display: grid) and (display: contents) {
    .team {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }

    .teams {
        display: contents;
    }
}

.content-teams {
    position: relative;
    align-self: start;
    max-width: 662px;
    padding-bottom: 40px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.heading-teams {
    font-size: 30px;
    font-weight: 600;
}

.text-teams {
    width: 100%;
    max-width: 662px;
    margin-bottom: 36px;
}
    
.team__selected-link {
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.9px;
    padding-right: 38px;
    color: #000000;
    text-decoration: none;
}

.team__selected-link:hover {
    text-decoration: underline;
}

.members {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;    
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.member {
    position: relative;
    margin-top: 18px;
}

.member:not(:last-child) {
    margin-right: 18px;
}

.member__name {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 38px;
    margin: 0;
    text-align: center;
    opacity: 50%;
    background-color: #000000;
    font-size: 18px;
    letter-spacing: 0.17px;
}

.member:hover > .member__name {
    visibility: visible;
    cursor: pointer;
}

.member__photo {
    width: 198px;
    height: 218px;
    object-fit: cover;
}

/*section 5*/

.page__subscribe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    background-color: #2D2D2D;
    align-items: center;
    text-align: center;
}

.subscribe {
    padding-top: 120px;
}

.heading-subscribe {
    letter-spacing: 1.05px;
    text-transform: none;
    color: #FFFFFF;
}

.text-subscribe {
    max-width: 100%;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.forma {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    padding-bottom: 130px;
}

.forma__input {
    display: flex;
    align-items: center;
    flex: 0 1 524px;
    margin: 20px;
    min-height: 82px;
    border: none;
    border-radius: 6px;
    color: #2C2C2C;
    background-color: #FFFFFF;
}

.forma__button {
    text-transform: uppercase;    
    font-weight: 700;
    width: 218px;
    min-height: 82px;
    border: none;
}



/*media*/
@media (max-width: 466px) {
    .page__intro__heading-big {
        word-wrap: break-word;
    }
}

@media (max-width: 615px) {
    .page__intro__heading {
        font-size: 50px;
    }

    .page__intro__heading-big {
        letter-spacing: normal;
    }

    .service {
        max-width: 250px;
    }
}

@media (max-width: 1219px) {
    .page__services {
        flex-direction: column;
    }

    .page__content {
        padding-bottom: 50px;
    }

    .team {
        display: flex;
    }
}